<meta layout:fragment="meta" http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta layout:fragment="meta" charset="utf-8">
<meta layout:fragment="meta" http-equiv="X-UA-Compatible" content="IE=edge">
<meta layout:fragment="meta" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta layout:fragment="meta" name="format-detection" content="telephone=no">
<!--/* CSRF */-->
<!-- meta layout:fragment="meta" name="_csrf" th:content="${_csrf.token}" />
<meta layout:fragment="meta" name="_csrf_header" th:content="${_csrf.headerName}" /-->
<!-- jQuery -->
<!-- script layout:fragment="meta" th:src="@{plugins/jquery/jquery.min.js}"></script>
<!-- jQuery -->
<script layout:fragment="meta" th:src="@{webjars/jquery/jquery.min.js}"></script>
